:root {
    --header-height: 3.5rem;
    --primario: #ffffff;
    --primarioOscuro: #d0d2d2;
    --secundario: #6ecddc;
    --secundarioOscuro: #034752;
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

/* Globales */

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

body::-webkit-scrollbar {
    width: 10px;
}
   
body::-webkit-scrollbar-thumb {
    background: #6ecddc; 
    border-radius: 3px;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 0.5rem 0;
}

/* Footer */

.footer {
    background-color: var(--primarioOscuro);
    padding: 0.5rem;
    margin-top: 2rem;
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.6rem;
}

/* Navegacion */

.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/* Grid */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Productos */

.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
    transition: transform .3s;
}

.producto:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.producto .producto__nombre {
    font-size: 4rem;
}

.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/* grafico */

.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.grafico--1 {
    grid-row: 2 / 3;
    background-image: url(../img/nosotros.jpg);
}

.grafico--2 {
    background-image: url(../img/grafico.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .grafico--2 {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* Nosotros */

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nosotros__imagen {
    grid-row: 1 / 2;
}

@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}

/* bloques */

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}

/* Pagina del producto */

@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo {
    /* border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid; */
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;
    color: var(--negro);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}

.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}

.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

.nosotros_fondo {
    background-color: var(--secundarioOscuro);
}

.nosotros_fondo p {
    color: var(--blanco);
}

/* Botones del producto */

.products__button {
    display: auto;
    background-color: var(--blanco);
    border-radius: none;
}

.agregar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}


.agregar > .bxs-add-to-queue {
    color: var(--secundario);
    font-size: 28px;
    margin-right: 1rem;
}

.button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.button i {
    font-size: 4rem;
    color: var(--blanco);
}

/*=============== CART ===============*/
.cart {
    margin-top: calc(1.5rem + var(--header-height));
}

.cart__container {
    background-color: var(--primarioOscuro);
    padding: 20px;
    border-radius: 35px;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.cart__list {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    height: 150px;
    overflow: auto;
}

.cart__list::-webkit-scrollbar {
    width: 10px;
  }
  
.cart__list::-webkit-scrollbar-thumb {
    background: #6ecddc; 
    border-radius: 3px;
  }

.cart__item {
    border: 1px dashed white;
    border-radius: 10px;
    padding: .25rem;
}

.cart__article {
    grid-template-columns: .5fr 1fr .5fr;
    align-items: center;
}

.cart__image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}

.cart__data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__name {
    font-size: 1rem;
}

.cart__minmax {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.cart__button {
    background-color: white;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cart__button i {
    font-size: 1.2rem;
}

.btn--delete {
    background-color: #ffdbe7;
    color: #e91e63;
}

.btn--checkout {
    width: max-content;
    border-radius: 10px;
    gap: .25rem;
}